$font--norm: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
             'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
             sans-serif;


$font--mono: source-code-pro, Menlo, Monaco, Consolas, Courier, 'Courier New',
             monospace;

$font--rome: Didot, Georgia, 'Times New Roman', serif; //American Typewriter (serif)


$font--curs: 'Bradley Hand', cursive; //Comic Sans MS (cursive)


$font--fant: Luminari, fantasy;
