@use 'sass:math';
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';

@use './colors' as *;
@use './fonts' as *;
@use './steps' as *;
@use './utils' as *;


$-colors: (
              gray-al: $gray--al,
              gray-be: $gray--be,
              norm-al: $norm--al,
              norm-be: $norm--be,
              norm-ga: $norm--ga,
              main-al: $main--al,
              main-be: $main--be,
              acnt-al: $acnt--al,
              acnt-be: $acnt--be,
          );


@each $key, $val in $-colors {

    :root {
        $spread--a: spread(0, 1, 2);
        @for $i from 1 through length($spread--a) {
            --c-#{$key}--a-#{step($i)}: #{color.change($val, $alpha: nth($spread--a,$i))};
        }

        $spread--l: spread(000%, 100%);
        @for $i from 1 through length($spread--l) {
            --c-#{$key}--l-#{step($i)}: #{color.change($val, $lightness: nth($spread--l,$i))};
        }

        $spread--s: spread(000%, 100%);
        @for $i from 1 through length($spread--s) {
            --c-#{$key}--s-#{step($i)}: #{color.change($val, $saturation: nth($spread--s,$i))};
        }
    }

}


:root {
    @for $i from 0 to $steps--length {
        --br--px-#{step($i + 1)}: #{math.pow(2,$i) * 1px};
    }

    $spread--pp: spread(00%, 50%);
    @for $i from 1 through length($spread--pp) {
        --br--pp-#{step($i)}: #{nth($spread--pp,$i)};
    }
}


:root {
    @for $i from 0 to $steps--length {
        --sz--px-#{step($i + 1)}: #{math.pow(2, $i) * 1px};
    }

    $spread--pp: spread(000%, 100%);
    @for $i from 1 through length($spread--pp) {
        --sz--pp-#{step($i)}: #{nth($spread--pp,$i)};
    }

    @for $i from 1 through $steps--length {
        --sz--em-#{step($i)}: #{math.pow(2, $i - 1) * 1em};
    }

    @for $i from 1 through $steps--length {
        --sz--rem-#{step($i)}: #{math.pow(2, $i - 1) * 1rem};
    }
}


:root {
    --font--norm: #{$font--norm};
    --font--mono: #{$font--mono};
    --font--rome: #{$font--rome};
    --font--curs: #{$font--curs};
    --font--fant: #{$font--fant};
}


// keep at bottom so it will be topmost in browser dev tools
:root {
    // normal
    --c-norm-al: #{$norm--al};
    --c-norm-be: #{$norm--be};
    --c-norm-ga: #{$norm--ga};
    // main, primary
    --c-main-al: #{$main--al};
    --c-main-be: #{$main--be};
    --c-main-ga: #{$main--ga};
    // accent, secondary
    --c-acnt-al: #{$acnt--al};
    --c-acnt-be: #{$acnt--be};
    --c-acnt-ga: #{$acnt--ga};
    // grayscale utility
    --c-gray-al: #{$gray--al};
    --c-gray-be: #{$gray--be};
    // notifications utility
    --c-done-al: #{$done--al};
    --c-done-be: #{$done--be};
    --c-warn-al: #{$warn--al};
    --c-warn-be: #{$warn--be};
    --c-alrt-al: #{$alrt--al};
    --c-alrt-be: #{$alrt--be};
}
