$-values:       (
                    'mn', // minimal
                    'xs', // extra small
                    'sm', // small
                    'md', // medium
                    'lg', // large
                    'xl', // extra large
                    'mx', // maximal
                );


$steps--length: length($-values);

@function step($i) {
    @return nth($-values, $i);
}
