$norm--al: #222121 !default;
$norm--be: #cccccf !default;
$norm--ga: #999999 !default;

$main--al: #365fb3 !default;
$main--be: #cccccc !default;
$main--ga: #999999 !default;

$acnt--al: #33998f !default;
$acnt--be: #000000 !default;
$acnt--ga: #999999 !default;


$gray--al: #000000;
$gray--be: #ffffff;


$done--al: #33cc99;
$done--be: #ffffff;

$warn--al: #ff8000;
$warn--be: #ffffff;

$alrt--al: #ff2b00;
$alrt--be: #ffffff;
