@use 'sass:math';
@use 'sass:map';

$-values:       (
                    'mn', // minimal
                    'xs', // extra small
                    'sm', // small
                    'md', // medium
                    'lg', // large
                    'xl', // extra large
                    'mx', // maximal
                );


$steps--length: length($-values);


@function step($i) {
    @return nth($-values, $i);
}


@function round($value,$precision:2) {
    $offset: math.pow(10, $precision);
    @return math.div(math.round($value * $offset), $offset);
}


@function div($a,$b,$precision:0) {
    @return round(math.div($a, $b), $precision);
}


@function spread($min,$max,$precision:0) {

    $mn: round($min, $precision);
    $mx: round($max, $precision);
    $md: div($mx - $mn, 2, $precision);
    $step: div($mx - $mn, $steps--length, $precision);

    @return (
        $mn,
        $mn + $step,
        $mn + 2 * $step,
        $md,
        $mx - 2 * $step,
        $mx - $step,
        $mx
    );
}


@mixin square($sz,$min:null,$max:null) {
    width:      #{$sz};
    height:     #{$sz};
    min-width:  #{$min};
    min-height: #{$min};
    max-width:  #{$max};
    max-height: #{$max};
}
