@use 'sass:math';

@use '../util' as U;


:root {
    $pp: U.spread(00%, 50%);
    @for $i from 1 through U.$steps--length {
        --br--px-#{U.step($i)}: #{math.pow(2,$i - 1) * 1px};
        --br--pp-#{U.step($i)}: #{nth($pp,$i)};
    }
}


:root {
    $pp: U.spread(000%, 100%);
    @for $i from 1 through U.$steps--length {
        --sz--pp-#{U.step($i)}: #{nth($pp,$i)};
        --sz--px-#{U.step($i)}: #{math.pow(2, $i - 1) * 1px};
        --sz--em-#{U.step($i)}: #{math.pow(2, $i - 1) * 1em};
        --sz--rm-#{U.step($i)}: #{math.pow(2, $i - 1) * 1rem};
        --sz--ch-#{U.step($i)}: #{math.pow(2, $i - 1) * 1ch};
    }
}
