
.albega-click {

    &--auto {
        pointer-events: auto;
    }

    &--none {
        pointer-events: none;
    }

    &--enabled {
        cursor:         pointer;
        pointer-events: auto;
    }

    &--disabled {
        cursor:         not-allowed;
        pointer-events: none;
    }

    &--denied {
        cursor:         not-allowed;
        pointer-events: auto;
    }

}
